@{
    ViewBag.Title = "Wynik";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 my-3 mt-md-5">Oto twój wynik</h2>
        <h3 class="h4 text-center">@ViewBag.Result</h3>
    </section>
</main>