* {
    font-family: 'Work Sans', sans-serif;
}

.nav-item {
    color: #ffffff;
    text-transform: uppercase;
}

body {
    background-color: #f0f0f0;
}

.HelloWORD {
    color: #69940d;
    font-weight: 700;
}

.body-content {
    min-height: 74vh;
}

.separator {
    border-top: 1px solid #bbbbbb;
}

@media(max-width: 575px) {
    .text-about {
        font-size: 14px;
    }

    .info-row > h4 {
        font-size: 16px;
    }

    .info-row > p {
        font-size: 14px;
    }

    .lesson-element-link {
        font-size: 14px;
    }

    .lesson-content {
        font-size: 14px;
    }

    .exam-top-text {
        font-size: 11px;
    }
}


.navbar {
    background-color: #69940d;
    min-height: 8vh;
}

.menu-item > a {
    color: #ffffff;
    transition: color .1s ease-in;
}

.menu-item > a:hover {
    text-decoration: none;
    color: #bbbbbb;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #bbbbbb;
}

.index-section {
    min-height: 100vh;
}

/* ----------- INDEX - CONTENT ----------- */

.content-upper {
    min-height: 60vh;
    width: 100%;
}

.content-lower {
    min-height: 40vh;
    width: 100%;
    border: 1px solid green;
}


/* ----------- INDEX - OGÓLNIE ----------- */

.text-about {
    font-size: 18px;
}

.text-about-bold {
    font-weight: 700;
    color: #58830c;
}

.category-slider {
    width: 100%;
    height: 30vh;
    background-color: #69940d;
}

.category-slider-element {
    width: 18%;
    height: 100%;
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%, 20% 50%);
    cursor: pointer;
    color: transparent;
    text-transform: uppercase;
    background-size: cover;
    opacity: 0.9;
    font-size: 22px;
    font-weight: 700;
    transition: all .2s ease-in;
}

.category-slider-element:hover {
    opacity: 0.7;
    color: #000000;
    text-decoration: none;
    transform: translateX(16px);
}

.category-slider-container {
    height: 40vh;
    background-color: #69940d;
}

.category-slider-a {
    background-image: url('/Content/images/placeholder.jpg');
}

.category-slider-b {
    background-image: url('images/placeholder.jpg');
}

.category-slider-c {
    background-image: url('images/placeholder.jpg');
}

.category-slider-d {
    background-image: url('images/placeholder.jpg');
}

.category-slider-t {
    background-image: url('images/placeholder.jpg');
}

/* ----------- INDEX - INFO ----------- */

.info-row {
    height: 33%;
    width: 100%;
}

.info-text {
    font-size: 15px;
}

.email {
    color: #69940d;
}

.btn-contact {
    width: 196px;
    background-color: #aad300;
    color: #ffffff;
}

.btn-contact:hover {
    background-color: #69940d;
    color: #ffffff;
}

.btn-contact:active {
    box-shadow: none;
}

.contact-link {
    color: #aad300;
}

.contact-link:hover {
    color: #aad300;
    text-decoration: underline;
}

.book {
    background-color: #000000;
    width: 136px;
    height: 182px;
}

.book > a > img {
    width: 100%;
    height: 100%;
}

.info-learn-element {
    width: 100%;
    height: 300px;
    cursor: pointer;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
    color: transparent;
    font-size: 22px;
    font-weight: 700;
    border: 2px solid #69940d;
    padding: 32px 0 0 0;
    transition: all .2s ease-in;
}

.info-learn-element:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 0 20px #69940d;
}


/* ----------- KONTAKT ----------- */

.contact-textarea {
    max-height: 360px;
    height: 200px;
    width: 100%;
}

.contact-email-message {
    height: 60px;
    width: 100%;
}

.contact-email-message p {
    color: #69940d;
    font-weight: 700;
}

/* ----------- QUIZ 1 i 40 pytań ----------- */
.form-quiz {
    width: 100%;
}

.quiz-element {
    width: 50%;
    min-width: 300px;
}

.quiz-question {
    height: 100px;
    width: 100%;
    background-color: #dddddd;
    border-radius: 3px;
    min-height: 50px;
}

.quiz-answers {
    width: 100%;
}

.quiz-answer {
    width: 100%;
    height: 6vh;
    min-height: 40px;
    background-color: #dddddd;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.quiz-answer:hover {
    background-color: #bbbbbb;
}

.quiz-picture {
    width: 100%;
    height: 300px;
}

/* ----------- WYNIKI ----------- */

.answer-correct, .answer-incorrect {
    font-weight: 700;
}

.answer-correct {
    color: #69940d;
}

.answer-incorrect {
    color: #940d0d;
}

.quiz-answer-result {
    width: 100%;
    height: 6vh;
    min-height: 40px;
    background-color: #dddddd;
    border-radius: 3px;
    transition: all .2s ease-in;
}

.quiz-answer-correct {
    background-color: #69940d;
}

.quiz-answer-incorrect {
    background-color: #940d0d;
}

.btn-result {
    width: 196px;
    background-color: #ebae1e;
    color: #000000;
}

.btn-result:hover {
    background-color: #bc8810;
    color: #000000;
}

.btn-result:active {
    box-shadow: none;
}


/* ----------- NAUKA ----------- */

.lesson-element {
    border: 2px solid #69940d;
    height: 128px;
    transition: box-shadow .2s ease-out;
    position: relative;
}

.lesson-element:hover {
    box-shadow: inset 0 0 20px #69940d;
}

.lesson-element-link {
    width: 100%;
    height: 100%;
    color: #69940d;
    z-index: 1;
    position: absolute;
    font-weight: 700;
}

.lesson-element-link:hover {
    text-decoration: none;
    color: #69940d;
}

.lesson-element-picture {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.lesson-content-picture {
    max-width: 1024px;
    max-height: 360px;
}

/* ----------- EGZAMIN ----------- */

.exam-top-panel {
    background-color: #dddddd;
    min-height: 48px;
}

.exam-media {
    background-color: #dddddd;
    width: 520px;
    height: 300px;
    border-radius: 5px;
}

.exam-question {
    height: 120px;
    width: 520px;
    border-radius: 5px;
    background-color: #dddddd;
}

.exam-answers {
    height: 180px;
    width: 520px;
}

.exam-answer-categorized {
    min-height: 40px;
    width: 100%;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .1s ease-in-out;
}

.exam-answer-traffic {
    height: 55%;
    width: 40%;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 32px;
    transition: background-color .2s ease-in-out;
}

.exam-answer-traffic:hover, .exam-answer-categorized:hover {
    background-color: #bbbbbb;
}

.exam-info-panel {
    width: 35%;
}

.loadbar {
    width: 80%;
    border: 1px solid #000000;
    text-align: center;
    background-color: #dddddd;
    user-select: none;
    min-height: 24px;
    position: relative;
}

#loadbarProgress {
    min-height: 24px;
    width: 100%;
    background-color: #69940d;
    transition: .1s ease-in all;
}

#loadbarText {
    position: absolute;
    left: 47%;
}

.exam-picture {
    max-height: 100%;
}

/* ----------- IKONKI ----------- */

.icon-category-a, .icon-category-b, .icon-category-c, .icon-category-d, .icon-category-t {
    background-size: 148px 86px;
    background-repeat: no-repeat;
}

.icon-category-a {
    background-image: url('images/a.png');
}

.icon-category-b {
    background-image: url('images/b.png');
}

.icon-category-c {
    background-image: url('images/c.png');
}

.icon-category-d {
    background-image: url('images/d.png');
}

.icon-category-t {
    background-image: url('images/t.png');
}

/* -----------WYNIKI EGZAMINU ----------- */

.exam-result-info {
    font-weight: 700;
    font-size: 18px;
}

/* -----------WYPEŁNIACZ ----------- */

.filler-upper, .filler-center, .filler-lower {
    font-family: 'Times New Roman';
}

.filler-upper {
    color: red;
    font-style: italic; 
}

.filler-center {
    text-transform: uppercase;
}

.filler-lower {
    color: blue;
    font-weight: bold;
}

/* -----------FORMULARZ LOGOWANIA ----------- */

.user-login-form {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 24px 42px;
    background-color: #f7f7f7;
    box-shadow: -5px 5px 5px #333333;
}