* {
    font-family: 'Work Sans', sans-serif;
}

.nav-item {
    color: #ffffff;
    text-transform: uppercase;
}

body {
    background-color: #f0f0f0;
}

.HelloWORD {
    color: #69940d;
    font-weight: 700;
}

.body-content {
    min-height: 74vh;
}

.separator {
    border-top: 1px solid #bbbbbb;
}

@media(max-width: 575px) {
    .text-about {
        font-size: 14px;
    }

    .info-row > h4 {
        font-size: 16px;
    }

    .info-row > p {
        font-size: 14px;
    }

    .lesson-element-link {
        font-size: 14px;
    }

    .lesson-content {
        font-size: 14px;
    }

    .exam-top-text {
        font-size: 11px;
    }
}


.navbar {
    background-color: #69940d;
    min-height: 8vh;
}

.menu-item > a {
    color: #ffffff;
    transition: color .1s ease-in;
}

.menu-item > a:hover {
    text-decoration: none;
    color: #bbbbbb;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #bbbbbb;
}

.index-section {
    min-height: 100vh;
}

/* ----------- INDEX - CONTENT ----------- */

.content-upper, .content-lower {
    width: 100%;
}

.content-upper {
    min-height: 60vh;
}

.content-lower {
    min-height: 40vh;
    border: 1px solid green;
}


/* ----------- INDEX - OGÓLNIE ----------- */

.text-about {
    font-size: 18px;
}

.text-about-bold {
    font-weight: 700;
    color: #58830c;
}

.category-slider-container {
    height: 40vh;
    background-color: #69940d;
}

.category-slider {
    width: 100%;
    height: 85%;
    background-color: #69940d;
}

.category-slider-element {
    width: 100%;
    height: 100%;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    cursor: pointer;
    color: transparent;
    text-transform: uppercase;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    opacity: 0.9;
    font-size: 22px;
    font-weight: 700;
    transition: all .2s ease-in;
}

.category-slider-element:hover {
    opacity: 0.7;
    color: #000000;
    text-decoration: none;
    text-shadow: 1px 1px 1px #ffffff;
    transform: translateX(16px);
}

.category-slider-a {
    background-image: url('images/a.png');
}

.category-slider-b {
    background-image: url('images/b.png');
}

.category-slider-c {
    background-image: url('images/c.png');
}

.category-slider-d {
    background-image: url('images/d.png');
}

.category-slider-t {
    background-image: url('images/t.png');
}

/* ----------- INDEX - INFO ----------- */

.info-row {
    height: 33%;
    width: 100%;
}

.info-text {
    font-size: 15px;
}

.email {
    color: #69940d;
}

.btn-contact {
    width: 196px;
    background-color: #aad300;
    color: #ffffff;
}

.btn-contact:hover {
    background-color: #69940d;
    color: #ffffff;
}

.btn-contact:active {
    box-shadow: none;
}

.contact-link {
    color: #aad300;
}

.contact-link:hover {
    color: #aad300;
    text-decoration: underline;
}

.book {
    background-color: #000000;
    width: 136px;
    height: 182px;
}

.book > a > img {
    width: 100%;
    height: 100%;
}

.info-learn-element {
    width: 100%;
    height: 300px;
    cursor: pointer;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
    color: transparent;
    font-size: 22px;
    font-weight: 700;
    border: 2px solid #69940d;
    padding: 32px 0 0 0;
    transition: all .2s ease-in;
}

.info-learn-element:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 0 20px #69940d;
}


/* ----------- KONTAKT ----------- */

.contact-textarea {
    max-height: 360px;
    height: 200px;
    width: 100%;
}

.contact-email-message {
    height: 60px;
    width: 100%;
}

.contact-email-message p {
    color: #69940d;
    font-weight: 700;
}

/* ----------- QUIZ 1 i 40 pytań ----------- */
.form-quiz {
    width: 100%;
}

.quiz-element {
    width: 50%;
    min-width: 300px;
}

.quiz-question {
    height: 100px;
    width: 100%;
    background-color: #dddddd;
    border-radius: 3px;
    min-height: 50px;
}

.quiz-answers {
    width: 100%;
}

.quiz-answer {
    width: 100%;
    height: 6vh;
    min-height: 40px;
    background-color: #dddddd;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.quiz-answer:hover {
    background-color: #bbbbbb;
}

.quiz-picture {
    width: 100%;
    height: 100%;
}

/* ----------- WYNIKI ----------- */

.answer-correct, .answer-incorrect {
    font-weight: 700;
}

.answer-correct {
    color: #69940d;
}

.answer-incorrect {
    color: #940d0d;
}

.quiz-answer-result {
    width: 100%;
    height: 6vh;
    min-height: 40px;
    background-color: #dddddd;
    border-radius: 3px;
    transition: all .2s ease-in;
}

.quiz-answer-correct {
    background-color: #69940d;
}

.quiz-answer-incorrect {
    background-color: #940d0d;
}

.btn-result {
    width: 196px;
    background-color: #ebae1e;
    color: #000000;
}

.btn-result:hover {
    background-color: #bc8810;
    color: #000000;
}

.btn-result:active {
    box-shadow: none;
}


/* ----------- NAUKA ----------- */

.lesson-element {
    border: 2px solid #69940d;
    height: 128px;
    transition: box-shadow .2s ease-out;
    position: relative;
}

.lesson-element:hover {
    box-shadow: inset 0 0 20px #69940d;
}

.lesson-element-link {
    width: 100%;
    height: 100%;
    color: #69940d;
    z-index: 1;
    position: absolute;
    font-weight: 700;
}

.lesson-element-link:hover {
    text-decoration: none;
    color: #69940d;
}

.lesson-element-picture {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.lesson-content-picture {
    max-width: 1024px;
    max-height: 360px;
}

/* ----------- EGZAMIN ----------- */

.exam-top-panel {
    background-color: #dddddd;
    min-height: 48px;
}

.exam-media {
    background-color: #dddddd;
    width: 520px;
    height: 300px;
    border-radius: 5px;
}

.exam-question {
    height: 120px;
    width: 520px;
    border-radius: 5px;
    background-color: #dddddd;
}

.exam-answers {
    height: 180px;
    width: 520px;
}

.exam-answer-categorized {
    min-height: 40px;
    width: 100%;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .1s ease-in-out;
}

.exam-answer-traffic {
    height: 55%;
    width: 40%;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 32px;
    transition: background-color .2s ease-in-out;
}

.exam-answer-traffic:hover, .exam-answer-categorized:hover {
    background-color: #bbbbbb;
}

.exam-info-panel {
    width: 35%;
}

.loadbar {
    width: 80%;
    border: 1px solid #000000;
    text-align: center;
    background-color: #dddddd;
    user-select: none;
    min-height: 24px;
    position: relative;
}

#loadbarProgress {
    min-height: 24px;
    width: 100%;
    background-color: #69940d;
    transition: .1s ease-in all;
}

#loadbarText {
    position: absolute;
    left: 47%;
}

.exam-picture {
    max-height: 100%;
}

/* ----------- IKONKI ----------- */

.icon-category-a, .icon-category-b, .icon-category-c, .icon-category-d, .icon-category-t {
    background-size: 148px 86px;
    background-repeat: no-repeat;
}

.icon-category-a {
    background-image: url('images/a.png');
}

.icon-category-b {
    background-image: url('images/b.png');
}

.icon-category-c {
    background-image: url('images/c.png');
}

.icon-category-d {
    background-image: url('images/d.png');
}

.icon-category-t {
    background-image: url('images/t.png');
}

/* -----------WYNIKI EGZAMINU ----------- */

.exam-result-info {
    font-weight: 700;
    font-size: 18px;
}

/* -----------WYPEŁNIACZ ----------- */

.filler-upper, .filler-center, .filler-lower {
    font-family: 'Times New Roman';
}

.filler-upper {
    color: red;
    font-style: italic; 
}

.filler-center {
    text-transform: uppercase;
}

.filler-lower {
    color: blue;
    font-weight: bold;
}

/* -----------FORMULARZ LOGOWANIA ----------- */

.user-login-form {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 24px 42px;
    background-color: #f7f7f7;
    box-shadow: -5px 5px 5px #333333;
}

/* ----------- PANEL UŻYTKOWNIKA ----------- */

.user-panel-button {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    border: 3px solid #69940d;
    font-weight: 700;
    color: transparent;
    transition: all .2s ease-in;
}

.user-panel-button:hover {
    text-decoration: none;
    color: transparent;
    box-shadow: inset 0 0 20px #69940d;
}

.user-panel-button-config, .user-panel-button-database, .user-panel-button-history {
    background-repeat: no-repeat;
    background-position: center;
}

.user-panel-button-config {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2286%22%20height%3D%2286%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-gear-fill%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M9.405%201.05c-.413-1.4-2.397-1.4-2.81%200l-.1.34a1.464%201.464%200%200%201-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987%201.987l.169.311c.446.82.023%201.841-.872%202.105l-.34.1c-1.4.413-1.4%202.397%200%202.81l.34.1a1.464%201.464%200%200%201%20.872%202.105l-.17.31c-.698%201.283.705%202.686%201.987%201.987l.311-.169a1.464%201.464%200%200%201%202.105.872l.1.34c.413%201.4%202.397%201.4%202.81%200l.1-.34a1.464%201.464%200%200%201%202.105-.872l.31.17c1.283.698%202.686-.705%201.987-1.987l-.169-.311a1.464%201.464%200%200%201%20.872-2.105l.34-.1c1.4-.413%201.4-2.397%200-2.81l-.34-.1a1.464%201.464%200%200%201-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464%201.464%200%200%201-2.105-.872l-.1-.34zM8%2010.93a2.929%202.929%200%201%201%200-5.86%202.929%202.929%200%200%201%200%205.858z%22%2F%3E%0A%3C%2Fsvg%3E");
}

.user-panel-button-database {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2286%22%20height%3D%2286%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-server%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1.333%202.667C1.333%201.194%204.318%200%208%200s6.667%201.194%206.667%202.667V4c0%201.473-2.985%202.667-6.667%202.667S1.333%205.473%201.333%204V2.667z%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1.333%206.334v3C1.333%2010.805%204.318%2012%208%2012s6.667-1.194%206.667-2.667V6.334c-.43.32-.931.58-1.458.79C11.81%207.684%209.967%208%208%208c-1.967%200-3.81-.317-5.21-.876a6.508%206.508%200%200%201-1.457-.79z%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M14.667%2011.668c-.43.319-.931.578-1.458.789-1.4.56-3.242.876-5.209.876-1.967%200-3.81-.316-5.21-.876a6.51%206.51%200%200%201-1.457-.79v1.666C1.333%2014.806%204.318%2016%208%2016s6.667-1.194%206.667-2.667v-1.665z%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E");
}

.user-panel-button-history {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2286%22%20height%3D%2286%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-journal-check%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M10.854%206.146a.5.5%200%200%201%200%20.708l-3%203a.5.5%200%200%201-.708%200l-1.5-1.5a.5.5%200%201%201%20.708-.708L7.5%208.793l2.646-2.647a.5.5%200%200%201%20.708%200z%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M3%200h10a2%202%200%200%201%202%202v12a2%202%200%200%201-2%202H3a2%202%200%200%201-2-2v-1h1v1a1%201%200%200%200%201%201h10a1%201%200%200%200%201-1V2a1%201%200%200%200-1-1H3a1%201%200%200%200-1%201v1H1V2a2%202%200%200%201%202-2z%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1%205v-.5a.5.5%200%200%201%201%200V5h.5a.5.5%200%200%201%200%201h-2a.5.5%200%200%201%200-1H1zm0%203v-.5a.5.5%200%200%201%201%200V8h.5a.5.5%200%200%201%200%201h-2a.5.5%200%200%201%200-1H1zm0%203v-.5a.5.5%200%200%201%201%200v.5h.5a.5.5%200%200%201%200%201h-2a.5.5%200%200%201%200-1H1z%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E");
}

/* ----------- PREMIUM KUPOWANIE ----------- */

.premium-panel {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 3px 3px #333333;
    transition: all .2s ease-in-out;
}

.premium-panel:hover {
    box-shadow: 1px 3px 3px #69940d;
    border: 1px solid #69940d;
}

.premium-panel::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    left: -90px;
    clip-path: polygon(60% 0, 100% 50%, 60% 100%, 60% 70%, 0 70%, 0 30%, 60% 30%);
    transition: all .3s ease-in-out;
}

.premium-panel:hover::before {
    background-color: #69940d;
    transform: translateX(30px);
}