@{
    ViewBag.Title = "Kup premium";
}

<main class="d-flex justify-content-center align-items-center flex-column mt-4">
    <div class="mb-2 mb-md-3 d-flex justify-content-center align-items-center flex-column">
        <h1 class="h3 text-center">Kup dostęp do pełnej bazy pytań</h1>
        <p class="text-center">Kupując dostęp do pełnej bazy pytań znacznie zwiększasz efektywność nauki. Za kilka złotych możesz otrzymać dodatkowe setki pytań!</p>
    </div>
    <div class="premium-panel col-md-6 m-2 m-md-4 d-flex justify-content-center align-items-center flex-column">
        <h4 class="mt-1 h3">Pełne Hello<span class="HelloWORD">WORD</span></h4>
        <p class="text-center">Pełna baza pytań HelloWORD daje Ci dostęp do wszystkich pytań z każdej kategorii! Wybierając tę opcję skorzystasz z pełnych możliwości HelloWORD!</p>
        <p class="text-center h4">5<span class="HelloWORD">&dollar;</span> - dożywotni dostęp!</p>
    </div>
    <div class="premium-panel col-md-6 m-2 m-md-4 d-flex justify-content-center align-items-center flex-column">
        <h4 class="mt-1 h3">Jedna kategoria</h4>
        <p class="text-center">Sit diam kasd no invidunt qui sed sit justo consetetur lorem duo eum ut consequat duis erat sadipscing et sed</p>
        <p class="text-center h4">2<span class="HelloWORD">&dollar;</span> - dożywotni dostęp!</p>
    </div>
    <div class="premium-panel col-md-6 m-2 m-md-4 d-flex justify-content-center align-items-center flex-column">
        <h4 class="mt-1 h3">10 egzaminów</h4>
        <p class="text-center">Stet gubergren et eleifend labore vero ut in labore stet tincidunt consectetuer ut diam dolor ut ipsum dolore mazim elitr</p>
        <p class="text-center h4">1<span class="HelloWORD">&dollar;</span> - dostęp do pełnej bazy na 10 egzaminów</p>
    </div>
</main>

<script type="text/javascript" src="@Url.Content("~/Scripts/buyAlerts.js")"></script>
