@{
    ViewBag.Title = "Kup premium";
}

<main class="d-flex justify-content-center align-items-center flex-column mt-4">
    <div class="mb-2 mb-md-5 d-flex justify-content-center align-items-center flex-column">
        <h1 class="h3 text-center">Kup dostęp do pełnej bazy pytań</h1>
        <p class="text-center">Kupując dostęp do pełnej bazy pytań znacznie zwiększasz efektywność nauki. Za kilka złotych możesz otrzymać dodatkowe setki pytań!</p>
    </div>
    <div class="premium-panel col-md-6 m-2 m-md-4 d-flex justify-content-center align-items-center flex-column">
        <h4 class="mt-1">Pełne Hello<span class="HelloWORD">WORD</span></h4>
        <p>Et stet sed tincidunt kasd nonumy voluptua sit erat eirmod commodo sadipscing invidunt duo ipsum et et dolor est sanctus</p>
    </div>
    <div class="premium-panel col-md-6 m-2 m-md-4 d-flex justify-content-center align-items-center flex-column">
        <h4 class="mt-1">Jedna kategoria</h4>
        <p>Sit diam kasd no invidunt qui sed sit justo consetetur lorem duo eum ut consequat duis erat sadipscing et sed</p>
    </div>
    <div class="premium-panel col-md-6 m-2 m-md-4 d-flex justify-content-center align-items-center flex-column">
        <h4 class="mt-1">10 egzaminów</h4>
        <p>Stet gubergren et eleifend labore vero ut in labore stet tincidunt consectetuer ut diam dolor ut ipsum dolore mazim elitr</p>
    </div>
</main>

<script type="text/javascript" src="@Url.Content("~/Scripts/buyAlerts.js")"></script>
