@{
    ViewBag.Title = "Edycja hasła";
}

<main>
    <div class="d-flex justify-content-center">
        <div class="code-alert justify-content-center align-items-center flex-column col-10 col-md-5 p-5 mt-5" id="codeAlert">
            <p class="text-center">Na twoją pocztę email został wysłany kod autoryzacyjny, wprowadź go w odpowiednie pole i kliknij duży, zielony przycisk</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-contact" id="codeAlertButton">Rozumiem</button>
            </div>
        </div>

        <form class="d-flex align-items-center justify-content-center flex-column mt-2 mt-md-5 user-login-form" method="post">
            <div>
                <label for="userData">Login lub adres email</label>
                <input type="text" class="form-control" id="userData" placeholder="twój login lub email" required name="userData" minlength="6">

                <label for="oldPassword">Stare hasło</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="twoje hasło" required name="oldPassword" minlength="6">

                <label for="newPassword">Nowe hasło</label>
                <input type="password" class="form-control" id="newPassword" placeholder="twoje hasło" required name="newPassword" minlength="6">

                <label for="newPasswordRepeat">Powtórz nowe hasło</label>
                <input type="password" class="form-control" id="newPasswordRepeat" placeholder="twoje hasło" required name="newPasswordRepeat" minlength="6">

                <label for="autorisationCode">Kod autoryzacyjny</label>
                <input type="password" class="form-control" id="autorisationCode" placeholder="kod autoryzacyjny" required name="autorisationCode" minlength="6">
            </div>

            <div class="justify-content-center mt-2 mt-md-4">
                <button type="submit" class="btn btn-contact d-none" disabled id="buttonPost">Zmień hasło</button>
                <div class="btn btn-contact" id="buttonCode">Wyślij kod</div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <p class="h4 mt-2 mt-md-4 text-warning text-center">@ViewBag.Alert</p>
    </div>
</main>

<script type="text/javascript" src="~/Scripts/editPassword.js"></script>

