@{
    ViewBag.Title = "Panel logowania";
}

<div class="d-flex justify-content-center">
    <form class="d-flex align-items-center justify-content-center flex-column mt-2 mt-md-5 user-login-form">
        <div>
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="twój login" required>

            <label for="password">Hasło</label>
            <input type="text" class="form-control" id="password" placeholder="twoje hasło" required>
        </div>

        <div class="justify-content-center mt-2 mt-md-4">
            <button type="submit" class="btn btn-success">Zaloguj</button>
        </div>

        <div class="d-flex align-items-center mt-2 mt-md-4">
            @Html.ActionLink("Nowe konto", "Register", "User", new { @class = "contact-link mr-2" })
            @Html.ActionLink("Reset hasła", "ForgottenPassword", "User", new { @class = "contact-link text-danger ml-2" })
        </div>
    </form>
</div>
