@{
    ViewBag.Title = "Rejestracja";
}

<main>
    <div class="d-flex justify-content-center">
        <form class="d-flex align-items-center justify-content-center flex-column mt-2 mt-md-5 user-login-form" method="post">
            <div class="d-flex justify-content-center align-items-start flex-column">
                <label for="Login">Login</label>
                <input type="text" class="form-control" id="Login" placeholder="twój login" required name="Login">

                <div class="d-flex mt-2 mt-md-3">
                    <div class="mr-1">
                        <label for="Password">Hasło</label>
                        <input type="password" class="form-control" id="Password" placeholder="twoje hasło" required name="Password">
                    </div>
                    <div class="ml-1">
                        <label for="PasswordRepeat">Powtórz hasło</label>
                        <input type="password" class="form-control" id="PasswordRepeat" placeholder="twoje hasło" required name="PasswordRepeat">
                    </div>
                </div>

                <div class="d-flex mt-2 mt-md-3">
                    <div class="mr-1">
                        <label for="FirstName">Imię</label>
                        <input type="text" class="form-control" id="FirstName" placeholder="twoje imię" required name="FirstName">
                    </div>
                    <div class="ml-1">
                        <label for="LastName">Nazwisko</label>
                        <input type="text" class="form-control" id="LastName" placeholder="twoje nazwisko" required name="LastName">
                    </div>
                </div>
            </div>

            <div class="justify-content-center mt-2 mt-md-4">
                <button type="submit" class="btn btn-success">Zarejestruj</button>
            </div>
        </form>
    </div>
</main>

