@model IEnumerable<HelloWORD.Models.Entity.Information>

@using HelloWORD.Models.Entity

@{
    ViewBag.Title = "Informacje";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5"><span class="HelloWORD">Panel informacyjny</span></h2>
        <p class="text-center px-5">
            Tutaj dowiesz się wszystkiego o egzaminie, jego przebiegu, wymaganych czynnościach etc.
            Znajdziesz tu również informacje o kodeksie drogowym i podstawy prawne egzaminu ale też cenne wskazówki
            oraz porady dotyczące pierwszego podejścia do jakże stresującego egzaminu.
        </p>

    </section>

    <hr class="mx-4">

    <section>
        @foreach (Information inf in Model)
        {
            <div class="d-flex flex-column align-items-center justify-content-center text-center my-5 mx-2 mx-md-4">
                <h3 class="list-unstyled h4">@inf.Header </h3>
                <p class="list-unstyled"> @inf.Content </p>
            </div>
            <hr class="mx-5">
        }

    </section>
</main>