
@{
    ViewBag.Title = "Regulamin";
}


<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5"><span class="HelloWORD">Regulamin aplikacji</span></h2>
        <p class="text-center px-5">
            Regulamin aplikacji <span class="HelloWORD">HelloWORD</span> powstanie w przyszłości gdy aplikacja zostanie wdrożona i gdy powstaną planowane funkcje takie jak zakup pełnej bazy pytań.
        </p>
    </section>
</main>
