
@{
    ViewBag.Title = "Regulamin";
}


<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5"><span class="HelloWORD">Regulamin aplikacji</span></h2>
        <p class="text-center px-5">
           Et gubergren et tempor diam molestie erat vero rebum accusam aliquyam sanctus lobortis et dolore laoreet est sed duo tempor sed sed ea eos vero sit tempor sanctus duis dolore dolore mazim sed labore facer nostrud iriure dolores illum consequat tempor voluptua sed velit lorem vero ipsum nulla dolore rebum autem sadipscing tincidunt dolore diam dolor erat duo stet ea ea vero voluptua dolore diam ullamcorper enim lorem erat tempor sit et euismod ut aliquyam est velit voluptua blandit zzril dolor elitr eos lorem sed et rebum nonumy takimata quod no sit laoreet duo amet rebum dolor gubergren ipsum dolores stet at luptatum nulla duo at praesent tempor dolore et sed justo lorem et consequat nulla sit est ut duo in voluptua dolor est sanctus blandit ut lobortis sit at feugait nulla sea invidunt nisl aliquam nostrud clita ut justo est nam eos ut rebum sit consequat accusam amet sea augue et at aliquyam et invidunt aliquyam aliquyam magna lorem magna amet hendrerit in dolor ipsum in feugiat augue duo lorem et et ea stet invidunt ipsum nonummy at nibh et diam sed ut vero ipsum soluta erat quis ut dolor erat aliquam tempor et gubergren erat ea eirmod kasd
        </p>
    </section>


</main>
