@model IEnumerable<HelloWORD.Models.Entity.Lesson>

@{
    ViewBag.Title = "Lesson";
}

<main>
    <section class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="h3 text-center mt-3 mt-md-5 mb-5">Lekcja numer <span class="HelloWORD">@ViewBag.Number</span></h2>
        @if (Model.Count() == 0)
        {
            <p class="text-danger">Ta lekcja nie ma jeszcze zawartości! Proszę wrócić później.</p>
        }


        @foreach (var item in Model)
        {
            if (item.Picture == "unset")
            {
                <div class="col-md-8 my-3 lesson-content d-flex align-items-center justify-content-center flex-column">
                    <p> @item.Content </p>
                </div>
            }
            else
            {
                <div class="d-flex flex-column justify-content-center align-items-center col-md-8 my-2 lesson-content">
                    <img src="~/Content/images/@item.Picture" alt="~/Content/images/@item.Picture" class="lesson-content-picture">
                    <p class="text-muted text-center"> @item.Tooltip </p>
                    <p class="mb-3"> @item.Content </p>
                </div>               
            }
        }

    </section>
</main>